extends layout
block content
	ul#online
	ul#messages
		form.chat(action="")
			input#m(autocomplete="off")
			button Send
	script(src='/socket.io/socket.io.js')
	script(src='//code.jquery.com/jquery-1.11.3.min.js')
	script(src='/js/chat.js')