extends layout
block content
	div(class='container-fluid fill')
		div.row
			div.col-sm-10
				ul#messages
			div.col-sm-2
				ul#online
	footer.footer
		div.container-fluid
				form
					div.input-group
						input(type='text' class='form-control' placeholder='Say something...' id='m')
						span.input-group-btn
							button(class='btn btn-primary') 
								span(class='glyphicon glyphicon-chevron-right')
