doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/perfect-scrollbar.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		script(src='/socket.io/socket.io.js')
		script(src='//code.jquery.com/jquery-1.11.3.min.js')
		script(src='/js/chat.js')
		script(src='/js/perfect-scrollbar.jquery.js')
	body
		block content