body {
	background: #fff;
	color: #222;
	margin-bottom: 37px;
}

html {
	min-height: 100vh;
}

a {
	color: #00B7FF;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 37px;
}

#messages { 
	position: relative;
	overflow:hidden;
	height: 93vh;
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#online {
	list-style-type: none;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

.italic {
	font-style:italic;
}
